<h1>Register</h1>
<form [formGroup]="registerForm">
    <table>
        <tr>
            <td><label for="name">Name:</label></td>
            <td><input type="text" id="name" name="name" formControlName="name"></td>
        </tr>
        <tr>
            <td><label for="password">password:</label></td>
            <td><input type="password" id="password" name="password" formControlName="password" /></td>
        </tr>
        <tr>
            <td><button type="submit" (click)="onSubmit()" [disabled]="!registerForm.value.name || !registerForm.value.password">Submit</button></td>
            <td><button routerLink="/home">Cancel</button></td>
        </tr>
    </table>
</form>
