.container {
    display: grid;
    grid-template-areas: 
    'user header edit-delete'
    'content content content'
    'answers answers answers';
    gap: 2vmax;
}

.edit_delete_container {
    width: max-content;
    height: max-content;
    justify-self: end;
    grid-area: edit-delete;
}

.edit-delete {
    width: 4vw;
    font-size: 2vmin;
}

.p {
    grid-area: user;
}

.h1 {
    width: max-content;
    grid-area: header;
}

.content {
    grid-area: content;
}

.answers {
    grid-area: answers;
}