<div class="container">
    <p class="p">Created by: {{ userName }}</p>
    <h1 class="h1">{{ subject }}</h1>
    <div class="edit_delete_container">
        <button *ngIf="is_superuser || is_authoriced" class="edit-delete" (click)="delete()">delete</button>
        <br><br>
        <button *ngIf="is_superuser || is_authoriced" class="edit-delete" [routerLink]="['/edit-post', postId()]">edit</button>
    </div>
    <h3 class="content">{{ content }}</h3>
    <br>
    <app-answers class="answers"></app-answers>
</div>
