<h1>Login</h1>
<form>
    <table>
        <tr>
            <td><label for="name">Name:</label></td>
            <td><input type="text" id="name" name="name" [(ngModel)]="name"></td>
        </tr>
        <tr>
            <td><label for="password">password:</label></td>
            <td><input type="password" id="password" name="password" [(ngModel)]="password" /></td>
        </tr>
        <tr>
            <td><button type="submit" (click)="onSubmit()" [disabled]="!name || !password">Submit</button></td>
            <td><button routerLink="/home">Cancel</button></td>
        </tr>
    </table>
</form>
