/* Basic styling for the header */
header {
    background-color: #ffaa00;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(255, 60, 0);
    width: 40vw;
    padding: 15px;

    img {
        max-height: 15vh;
    }
}
