* {
    cursor: default;
    font-family: Arial, sans-serif;
    user-select: none;
    overflow-wrap: break-word;
}

img {
    pointer-events: none;
}

.avatar {
    width: 2vw;
    border-radius: 10vmax;
    overflow: hidden;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
    border: solid 1px gray;
    border-radius: 5px;
    width: auto;
    font-size: 1vmax;
    background-color: #9c9c9c;
    transition: linear 0.2s;
    background-color: rgb(255, 150, 0);
    font-size: 2vmin;
}

button:hover {
    cursor: default;
    border: solid 1px rgb(229, 255, 0);
    border-radius: 5px;
}

button:not([disabled]):hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

a {
    cursor: pointer;
    border: solid 1px gray;
    border-radius: 5px;
    width: auto;
    color: #ffff00;
    text-decoration: none;
    padding: 5px;
    transition: linear 0.2s;
    background-color: rgb(255, 160, 0);
    font-size: 2vmin;
}

a:hover {
    cursor: pointer;
    color: rgb(255, 255, 255) !important;
    box-shadow: 5px 5px rgb(0, 0, 0);
    transform: translate(-5px, -5px);
}

input {
    cursor: text;
}

textarea {
    cursor: text;
}

select {
    cursor: pointer;
}
