.username {
    padding-left: 1vw;
    min-width: 5vw;
    max-width: 10vw;
}

.topic {
    padding-left: 1vw;
    width: 10vw;
    max-width: 10vw;
    border-left: dotted black 1px;
    border-right: dotted black 1px;
}

.subject {
    padding-left: 1vw;
    width: 35vw;
    max-width: 40vw;
    overflow-wrap: normal;
    overflow: hidden;
}

.likes {
    border: solid rgb(255, 225, 58) 1px;
    border-radius: 15px;
    padding: 5px;
}
