<div class="new-post-new-topic">
    <a *ngIf="is_authenticated" routerLink="/new-post">
        Add new Post
    </a>
    <a *ngIf="is_superuser" routerLink="/new-topic">
        Add new Topic
    </a>
</div>
<!-- filter and sort button -->
<!--
<div class="filter-sort">
    <button>filter Posts</button>
    <button>sort Posts</button>
</div>
-->
<div *ngIf="noPosts === true">
    <h2>
        There are no Posts created yet.
    </h2>
</div>
<div *ngIf="noPosts === false">
    <div *ngFor="let post of Posts">
        <a class="post-link" [routerLink]="'/post-details/' + post.id"
            (click)="current_post(post.id)">
            <app-post [post]="post" class="post"></app-post>
        </a>
    </div>
</div>
