* {
    cursor: default;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
    border: solid 1px;
    border-radius: 5px;
    width: auto;
    font-size: 1vmax;
}

button:hover {
    cursor: pointer;
}
