* {
    cursor: default;
    font-family: Arial, sans-serif;
    user-select: none;
}

img {
    pointer-events: none;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
    border: solid 1px;
    border-radius: 5px;
    width: auto;
    font-size: 1vmax;
    background-color: #797979;
    transition: linear 0.2s;
}

button:hover {
    cursor: default;
}

button:not([disabled]):hover {
    cursor: pointer;
    color: yellow;
}

a {
    cursor: pointer;
    border: solid 1px;
    border-radius: 5px;
    width: auto;
    color: #000000;
    text-decoration: none;
    padding: 5px;
    transition: linear 0.2s;
    background-color: #797979;
}

a:hover {
    cursor: pointer;
    color: yellow !important;
    box-shadow: 5px 5px rgb(102, 102, 0);
    transform: translate(-5px, -5px);
}

input {
    cursor: text;
}

textarea {
    cursor: text;
}

select {
    cursor: pointer;
}
