* {
    cursor: default;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
    border: solid 1px;
    border-radius: 5px;
    width: auto;
    font-size: 1vmax;
    background-color: rgba(0, 0, 0, 0);
    transition: ease-out 0.5s;
}

button:hover {
    cursor: pointer;
    color: yellow;
}

a {
    cursor: pointer;
    border: solid 1px;
    border-radius: 5px;
    width: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
    transition: ease-out 0.5s;
}

a:hover {
    cursor: pointer;
    color: yellow !important;
}
