/* Basic styling for the header */
header {
    background-color: #ffaa00;
    text-align: center;
    padding: 20px;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    gap: 1vmax;
    align-items: center;
    border-radius: 20px;

    img {
        max-height: 20vh;
    }
}
