.container {
  display: grid;
  width: auto;
  min-height: 100vh;
  grid-template-areas:
    'header header'
    'navigationbar content';
  background-color: #999999;
  padding: 0;
  gap: 10px;
}

.header {
    display: grid;
    justify-items: center;
    grid-area: header;
    height: max-content;
    padding-top: 2vh;
    margin: 1vmax 1vmax 0 1vmax;
    background-color: #797979;
    border-radius: 15px;
}

.navigationbar {
    grid-area: navigationbar;
    width: 20vw;
    height: 60vh;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 1vw;
}

.content {
    grid-area: content;
    justify-self: end;
    width: 75vw;
    height: 60vh;
    margin-right: 1vmax;
    padding-bottom: 5vh;
    overflow-y: scroll;
}
