.container {
  display: grid;
  width: auto;
  min-height: 100vh;
  grid-template-areas:
    'header header'
    'navigationbar content';
  background-color: rgb(141, 141, 141);
  padding: 0;
  gap: 10px;
}

.header {
    display: grid;
    justify-items: center;
    grid-area: header;
    height: max-content;
    margin: 1vh 1vw;
    border-radius: 15px;
    padding-top: 2vh;
    padding-bottom: 5vh;
    background-color: #356775ff;
}

.navigationbar {
    grid-area: navigationbar;
    width: 20vw;
    height: max-content;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 1vw;
    border-radius: 15px;
    background-color: #3c748488;
}

.content {
    grid-area: content;
    justify-self: end;
    width: 70vw;
    min-height: 55vh;
    height: max-content;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 15px;
    margin-right: 1vw;
    background-color: #3c748488;
}
