.container {
  display: grid;
  width: auto;
  height: 100vh;
  grid-template-areas:
    'header header'
    'navigationbar content'
    'footer footer';
  gap: 10px;
  background-color: #999999;
  padding: 0;
}

.header {
    display: grid;
    justify-items: center;
    grid-area: header;
    height: 5vh;
    padding-top: 2vh;
}

.navigationbar {
    grid-area: navigationbar;
    width: 20vw;
    height: auto;
    padding-left: 2vw;
    align-items: start;
    display: flex;
    flex-direction: column;
}

.content {
    grid-area: content;
    width: 75vw;
    height: 80vh;
}

.footer {
    display: grid;
    justify-items: center;
    grid-area: footer;
    height: 1vh;
}
