<div>
    <a routerLink="/home">Home</a>
    <a routerLink="/posts">Posts</a>
    <a *ngIf="isAuthenticated" routerLink="/liked_posts">Favorites</a>
    <br>
    <a *ngIf="!isAuthenticated" routerLink="/login">Login</a>
    <a *ngIf="isAuthenticated" routerLink="/logout">Logout</a>
    <a *ngIf="!isAuthenticated" routerLink="/sign_up">Register</a>
    <!-- Comming soon, My-Account page with Account-settings -->
    <!-- <a *ngIf="isAuthenticated" routerLink="/my-account">My Account</a> -->
</div>
