a {
    text-align: start;
    margin: 0.5vh;
    padding: 0.5vmin;
    color: black;
    font-size: 2.5vmin;
    width: 5vw;
    text-align: center;
}

div {
    display: grid;
    margin: 15vh 5vw;
}

.a {
    width: 6vw;
}
