<h1>ArcheryForum</h1>
<h3>a place where you can ask everything about archery, bows and crossbows</h3>
<br>
<div class="new-post-new-topic">
    <a routerLink="/new-post">
        Add new Post
    </a>
    <a routerLink="/new-topic">
        Add new Topic
    </a>
</div>
<!-- filter and sort buttons -->
<!--
<div class="filter-sort">
    <button>filter Posts</button>
    <button>sort Posts</button>
</div>
-->
<div *ngFor="let post of Posts">
    <a class="post-link" [routerLink]="'/post-details/' + post.id">
        <app-post [post]="post" class="post"></app-post>
    </a>
</div>
